@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000; /* Black background */
  color: #00FF00; /* Green text */
  font-family: monospace;
}

input {
  caret-color: #00FF00; /* Green caret */
}

.border-green-500 {
  border-color: #00FF00; /* Green outline for terminal */
}

form input {
  caret-color: transparent; /* Hide caret */
}

form::after {
  content: "_";
  animation: blink 1s infinite;
  color: #00FF00;
  margin-left: -5px;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s infinite;
}